.body{
	background: #eeeeee;
}
.card-panel{
	height: 490px;
}

.tab{
	overflow:auto; 
	width: auto; 
	height: 270px;
}

.th-prod{
	text-align: center;
}

.th-atual{
	text-align: left;
}

.img{
	padding:auto;
}